body{
    font-family: sans-serif;
}

/*HEADER*/

.header-container{
    background-color: #120323;
    text-align: center;
}

header img{
    margin: 0px;
    padding-top: 15px;
}

header h1{
    color: #97bf04;
    margin: 10px;
    padding-bottom: 15px;
}

/*ASIDE*/

aside{
    background-color: #97bf04;
    padding: 3px;
    margin: 6px;
}

/*FOOTER*/

footer{
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 25px;
}