body{
    font-family: sans-serif;
}

/*HEADER*/

.header-container{
    background-color: #120323;
    text-align: center;
}

header img{
    margin: 0px;
    padding-top: 15px;
}

header h1{
    color: #97bf04;
    margin: 10px;
    padding-bottom: 15px;
}

/*MAIN*/

figure img{
    max-width: 100%;
    border: 5px solid #d9043d;
}

/*ASIDE*/

aside{
    background-color: #97bf04;
    padding: 3px;
    margin: 6px;
}

/*FOOTER*/

footer{
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 25px;
}

/*less than 1000px wide*/

@media (min-width: 768px){

    /*HEADER*/

    .header-container{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    header img{
        display: inline-block;
    }

    /*MAIN*/

    figure{
        display: flex;
        flex-direction: row;
    }

    figure img{
        max-width: 300px;
    }

    figcaption{
        text-align: left;
        padding-left: 20px;
    }
}

/*more than 1000px wide*/

@media (min-width: 1000px){

    /*DIV CONTAINER*/
    #container{
        display: flex;
        flex-direction: row;
    }

    main{
        flex: 2;
    }

    aside{
        flex: 1;
        padding: 15px;
    }

}